#root {
    height: 100%;
    width: 100%;
}

#MainApp {
    height: 100%;
}

#main-content {
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    margin-top: 58px;
}
