#root {
    width: 100%;
    min-height: 100vh;
    min-height: 100%;
}

#main-content {
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    margin-top: 58px;
    padding-bottom: 100px;
}

.uploader-icon {
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #F5501E;
    color: white;
    border-radius: 50%;
    margin-right: 16px;
}

.channel-and-nav-icon {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #F5501E;
    color: white;
    border-radius: 50%;
    margin-right: 8px;
}

.commenter-icon {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #F5501E;
    color: white;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 8px;
}

footer {
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
}

footer a {
    padding: 5px;
    margin: 15px;
}

