.login-signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 15% auto;
    width: 450px;
    padding: 70px;
    border: 1px solid #dadce0;
    border-radius: 8px;
}

.login-signup-h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px
}

.login-signup-form-bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
}   

.login-signup-form-bottom button {
    width: 88px;
    height: 36px;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background: rgb(26, 115, 232);
    color: white;
}

.login-signup-form-bottom h2 {
    color: rgb(6, 95, 212);
    margin: auto 0;
    text-align: center;
}

.login-signup-form-top {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login-signup-form ul {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
    color: rgb(213, 0, 0);
    width: 220px;
    text-align: center;
}

.login-signup-form form {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    width: 336px;
    height: 280px;
}

.login-signup-form input { 
  padding: 13px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

