.upload-form-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #F1F1F1;
}

.upload-form {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 385px;
    width: 743px;
    padding: 15px;
    margin: 10px auto;
    background: white;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,.18);
    border-radius: 1px;
}

.upload-files-content {
    display: flex;
    justify-content: space-evenly;
}

.upload-files-content i:hover {
    color: #BB4639;
}

.video-show-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 24px;
    padding-top: 24px;
    padding-right: 24px;

}

.video-player {
    width: 100%;
    max-height: 755px;
}

#video-upload-field, #thumbnail-upload-field {
    display: none;
}

.thumbnail-upload-container, .video-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 210px;
    color: #444444;
}

.actual-file-upload {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    margin-bottom: 10px;
}

.upload-form-details {
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.upload-form-details input, textarea { 
    padding: 5px 10px 6px;
    width: 250px;
    font-size: 13px;
    border: 1px solid #d3d3d3;
    color: #333;
}

.upload-button {
    background-color: rgb(6, 95, 212);
    color: white;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 500px;
    border-radius: 2px;
}

.video-detail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #E5E5E5; 
}

.video-detail-title {
    padding-top: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #E5E5E5; 
    box-sizing: content-box;
    height: 64px;
}

.video-detail-title:first-child {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
}

.views {
    color: rgb(96, 96, 96);
    font-size: 16px;
    line-height: 20px;
}

.video-detail-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 16px;
    height: 252px;
}

.video-detail-detail {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 16px;
    margin-bottom: 12px;
}

.video-detail-description {
    display: flex;
    justify-content: space-between;
}

.uploader-name {
    line-height: 16px;
    font-size: 14px;
    font-weight: bolder;
}

.video-detail-user h2 {
    margin-left: 64px;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    top: 0;
}

.comments h1 {
    line-height: 100px;
}